/* .navbar {
  background-color: rgb(14, 14, 43);
}
span {
  font-weight: 800px;
  color: #ffffff;
  text-align: center;
} */
.navbar {
  justify-content: center;
}
.navbar-brand {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}
.sidebar {
  background-color: rgb(243, 239, 239);
}

#cityName {
  font-weight: bold;
  font-size: 25px;
}

.high-uv {
  .bg-danger;
}

.moderate-uv {
  .bg-warning; 

}

.low-uv {
 .bg-success;
}

/* 
#uv-index {
  background-color: tomato;
} */
/* #temp:after {
  content: "°";
} */
