.navbar-brand {
  font-weight: 300px;
  color: #ffffff;
  text-align: center;
}
.sidebar {
  background-color: rgb(243, 239, 239);
}

#cityName {
  font-weight: bold;
  font-size: 25px;
}

/* #temp:after {
  content: "°";
} */
